Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.3
Flask-PyMongo==2.3.0
mongoengine==0.27.0
pymongo==4.6.1
gunicorn==21.2.0
youtube_transcript_api
python-dotenv==1.0.1