@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

*{
  font-family: sans-serif;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.btn-color{
  background-color: #7D0A0A;
  color: white;
}

.bg-color {
  background-color: #EAD196 ;
}

.card-color {
  background-color: #E4E9F7 ;
}